################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Uebung_1/uebung1/.vs
/Uebung_1/uebung1/build/CMakeFiles
/Uebung_1/uebung1/build/CMakeFiles
/Uebung_1/uebung1/build
/.vs
/Uebung_4/uebung4/build
/Uebung_4/uebung4/data
