################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Uebung_1/uebung1/.vs

*.DS_Store
